@tailwind base;
@tailwind components;
@tailwind utilities;

.shadowBlack {
    text-shadow: 1px 1px 1px grey;
}

.hamburger {
    cursor: pointer;
    width: 24px;
    height: 24px;
    transition: all 0.4s;
    position: relative;
}
.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
    position: absolute;
    top: 0;
    left: 0;
    width: 24px;
    height: 2px;
    background-color: #000;
    transform: rotate(0);
    transition: all 0.5s;
}

.hamburger-middle {
    transform: translateY(7px);
}
.hamburger-bottom {
    transform: translateY(14px);
}

.open {
    transform: rotate(90deg);
    transform: translateY(0);
}

.open .hamburger-top {
    transform: rotate(45deg) translateY(6px) translate(6px);
}
.open .hamburger-middle {
    display: none;
}
.open .hamburger-bottom {
    transform: rotate(-45deg) translateY(6px) translate(-6px);
}

.modal-background {
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.7);
}

.modal-dialog {
    width: 320px;
    max-height: 197.76px;
    /**
    ** those two numbers creating a ratio of 0.628
    */
    margin: auto;
    margin-top: 200px;
    padding: 11px;
    background-color: #eee;
    border-radius: 6px;
}

.modal-header {
    display: flex;
    justify-content: space-between;
}
.modal-header h1 {
    display: inline;
    font-size: 1.4rem;
}
.modal-header .close-btn {
    color: grey;
    text-shadow: 1px 1px 1px black;
    /* padding: 0px; */
    padding-top: 0;
    border-radius: 6px;
}
.modal-header .close-btn:hover {
    /* background-color: grey; */
    color: white;
}
.modal-body {
    margin-bottom: 6px;
}

.modal-footer {
    display: flex;
    flex-direction: row;
    /* align-items: flex-end; */
    justify-content: flex-end;
}
.btn {
    padding: 6px;
    border-radius: 6px;
    margin: 2px;
}
.btn-cancel {
    background-color: #e67e22;
    color: white;
    text-shadow: 2px 2px 2px grey;
}

.btn-delete {
    background-color: #cb2027;
    color: white;
}
